<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel File</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" type="text/css">


</head>

<body>
    <div class="container">
        <h1>Upload an Excel File</h1>
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="upload-area" id="uploadArea">
                <p>Drag & Drop your Excel file here or click to select</p>
                <input type="file" name="file" id="fileInput" accept=".xlsx, .csv">
            </div>
            <div class="loader" id="loader"></div> <!-- Loader -->
            <button type="submit" class="submit-btn">Upload File</button>
        </form>
        <h1 class="mv-value" >Predicted MV Value:</h1>
        <div class="mv-value" id="mvvalue"> __________</div>
    </div>

    <div id="feature-input" class="dynamic-form-container"></div>


    <script src="{{url_for('static', filename='js/upload.js')}}"></script>

</body>

</html>